{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ДЕБИЛ ЗАБЫЛ НАПИСАТЬ TITLE{% endblock %}</title>
    {% block meta %}{% endblock %}
</head>
<body>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2025 keramicheskiy. Все права не защищены.</p>
    <p>Email: <a href="mailto:feedback@keramicheskiy.com">feedback@keramicheskiy.com</a></p>
    <p><a href="/about">О сайте</a> | <a href="/contact">Связаться со мной</a></p>
</footer>


</body>
</html>