{% extends 'base.html' %}
{% load static %}

{% block title %}Я ДЕД IN SITE{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}


{% block content %}
    <div id="count">1000</div>
    <button onclick="increment()">Сломать палец</button>

    <script>
        let count = 1000;

        function increment() {
            count -= 7;
            document.getElementById('count').textContent = count;
        }
    </script>



{% endblock %}
