{% extends "base.html" %}
{% load static %}

{% block title %} email verification {% endblock %}


{% block meta %}
    <link rel="stylesheet" href="{% static 'user/verification.css' %}">
{% endblock %}


{% block content %}

    ТУТ КОРОЧЕ КОД НАДО ВСТАВИТЬ ЧТОБ ВАЙБОВЕЕ БЫЛО
    <div class="container">
        <h1>Подтвердите вашу почту</h1>
        <p>Мы отправили код подтверждения на ваш email. Введите его ниже:</p>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="code" placeholder="Введите код" required maxlength="6">
            <button type="submit">Подтвердить</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <p class="resend">
            Не получили код? <a href="/profile/resend_verification_code">Отправить повторно</a>
        </p>
    </div>


{% endblock %}

